<!-- partial for @all_posts and @my_posts -->

<div class="col-4 my-2">
  <div class="card">
    <h5 class="card-header">
      <%= link_to post_path(post) do %>
        <%= post.title %>
      <% end %>
    </h5>
    <div class="card-body">
      <p class="card-text"><%= post.body %></p>

      <% if post.can_vote?(current_user) %>
        <%= link_to upvote_path(post), class: "btn btn-outline-success", method: true do %>
          Upvote
          <span class="badge badge-success"><%= post.upvote_count %></span>
        <% end %>
        <%= link_to downvote_path(post), class: "btn btn-outline-danger", method: true do %>
          Downvote
          <span class="badge badge-danger"><%= post.downvote_count %></span>
        <% end %>
      <% else %>
        <%= link_to upvote_path(post), class: "btn btn-outline-success disabled", method: true do %>
          Upvote
          <span class="badge badge-success"><%= post.upvote_count %></span>
        <% end %>
        <%= link_to downvote_path(post), class: "btn btn-outline-danger disabled", method: true do %>
          Downvote
          <span class="badge badge-danger"><%= post.downvote_count %></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
