<!-- partial for @all_posts and @my_posts -->

<div class="col-4 my-2">
  <div class="card">
    <h5 class="card-header"><%= post.title %></h5>
    <div class="card-body">
      <p class="card-text"><%= post.body %></p>

      <%= link_to "Upvote", "#", class: "btn btn-outline-success" %>
      <%= link_to "Downvote", "#", class: "btn btn-outline-danger" %>
      <br><br>
      <%= link_to "View", post_path(post), class: "btn btn-info" %>
    </div>
  </div>
</div>
