<% provide(:title, "Post with id: #{@the_post.id}") %>

<div class="row">
  <div class="col-12">
    <p>
      <%= @the_post.body %>
    </p>
  </div>
</div>
<div class="row align-items-start">
  <div class="col-12">
    <h2>Comments</h2>
  </div>
  <div class="col-6">

    <!-- Write a form to create new comment for this post -->

    <%= form_for @new_comment_by_user, remote: true do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control form-control-sm' %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control form-control-sm', rows: '3' %>
    </div>

    <%= f.hidden_field :post_id, value: @the_post.id %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-6 comment-list">
    <%= render @comments  %>
    <!-- check if @comments is an array -->
    <!-- if it's an array, it'll loop it -->
    <!-- if it's not an array, dont do anything -->
  </div>
</div>



<!-- List all comments here -->
