<% provide(:title, "Post with id: #{@the_post.id}") %>

<p>
  <%= @the_post.body %>
</p>

<h2>Comments</h2>

<!-- Write a form to create new comment for this post -->

<%= form_for @new_comment_by_user do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control' %>
  </div>

  <%= f.hidden_field :post_id, value: @the_post.id %>
  <%= f.hidden_field :creator_id, value: current_user.id %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>



<!-- List all comments here -->
