<% provide(:title, "Post with id: #{@the_post.id}") %>

<p>
  <%= @the_post.body %>
</p>

<div class="row align-items-start comment-list">
  <div class="col-12">
    <h2>Comments</h2>
  </div>
  <div class="col-6">

    <!-- Write a form to create new comment for this post -->

    <%= form_for @new_comment_by_user do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control form-control-sm' %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control form-control-sm', rows: '3' %>
    </div>

    <%= f.hidden_field :post_id, value: @the_post.id %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-6">
    <ul>
      <% @all_comments_the_post_has.each_with_index do |comment, index| %>
      <div class="card mb-3">
       <div class="card-body">
         <h5 class="card-title"><%= comment.title  %></h5>
         <h6 class="card-subtitle mb-2 text-muted">Commented by <%= comment.creator.name  %> (<%= comment.creator.email %>)</h6>
         <p class="card-text">
           <%= comment.body %>
         </p>
         <a href="#" class="card-link">Card link</a>
         <a href="#" class="card-link">Another link</a>
       </div>
      </div>
      <% end %>
    </ul>
  </div>
</div>



<!-- List all comments here -->
